<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <pages validateRequest="false" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

<appSettings>
    <add key="ClientPublicCert" value="D:\Cert\demo2.2c2p.com(public).cer" />
    <add key="ClientPrivateCert" value="D:\Cert\demo2.2c2p.com(2c2p).pfx" />
    <add key="ClientPrivatePass" value="2c2p" />
</appSettings>

</configuration>
