<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- log4net START here-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!-- log4net STOP here-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-A2AAPI-20140902103041;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-A2AAPI-20140902103041.mdf" />-->
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-A2AAPI-20140902103041.mdf;Initial Catalog=aspnet-A2AAPI-20140902103041;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="MyTxt"/>
    </root>
    <appender name="MyTxt" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\1Stop\A2AAPI_"/>
      <!-- This is file path to save the log. Note : don't put file extension.-->
      <appendToFile value="true"/>
      <datePattern value="yyyy-MM-dd.\tx\t"/>
      <!-- This is date format for file name to save the log.-->
      <rollingStyle value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-8ndc %-5thread %-5level : %logger : %message %n"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="ApkDownloadLink" value="https://goo.gl/p5JVHe"/>
    <add key="PrintableEServiceTxnIdLength" value="7"/>
    <add key="PrintableEPaymentTxnIdLength" value="6"/>
    <add key="EServicePrintableDateDifference" value="1"/>
    <add key="EPaymentPrintableDateDifference" value="1"/>
    <add key="ValidVersionForMMBusTicket" value="3410"/>
    <add key="MMBusAgentPercent" value="3"/>
    <add key="LockMessage" value="Your account is locked. Please contact NearMe hotline: 09777322111"/>
    <!--Skynet -->
    <add key="SkynetTaxId" value="0000000000134"/>

    <!--Mo Mo Finance-->
    <add key="MoMoFinanceTaxId" value="0000000000133"/>

    <add key="MinimumVersionForMPUandJCB" value="3420"/>
    <add key="OTPVerifiedExpiredMinute" value="60"/>
    <add key="WasoLearnTaxId" value="0000000000132"/>
    <add key="ReloadPartnerLogoUrl" value="https://apn.2c2p.com/1Stop/SIT/MobileAPI/ReloadPartnerLogo/"/>
    <add key="InvalidEPaymentForMobile" value="MPU,JCB"/>
    <!-- Enhancement for Biller Product List-->
    <!--YTalk-->
    <add key="YTalkTaxId" value="0000000000012"/>
    <!--MaharMobile-->
    <add key="MaharMobileTaxId" value="0000000000079"/>
    <!--Ananda EPin-->
    <add key="AnandaEPin" value="0000000000057"/>
    <!--Vakov-->
    <add key="VakovTaxId" value="0000000000030"/>
    <!-- iTunes -->
    <add key="iTunesTaxId" value="0000000000001"/>

    <!--- OK $ Cash In -->
    <add key="OkDollarCashInTaxId" value="0000000000140" />

    <!-- GooglePlay -->
    <add key="GooglePlayTaxId" value="0000000000002"/>

    <!-- MyPlay -->
    <add key="MyPlayTaxId" value="1111111111111"/>

    <!-- Steam Wallet -->
    <add key="SteamWalletTaxId" value="0000000000016"/>

    <!-- Sprint 4 Hana Microfinance -->
    <add key="HanaMicrofinanceTaxId" value="0000000000131"/>

    <!-- Joox -->
    <add key="JooxTaxId" value="0000000000129"/>
    <!-- Easy Microfinance -->
    <add key="EasyMicrofinanceTaxId" value="0000000000130"/>
    <!-- Chindwin Net -->
    <add key="ChindwinNetTaxId" value="0000000000128"/>
    <!--Smile Cinema Movie-->
    <add key="SmileCinemaTaxId" value="0000000000125"/>
    <!-- T Fitness -->
    <add key="TFitnessTaxId" value="0000000000126"/>
    <!-- Grab Myanmar -->
    <add key="GrabMyanmarTaxId" value="0000000000127"/>
    <!--Mobile Legend-->
    <add key="MobileLegendTaxId" value="0000000000123"/>
    <!-- Sprint 15 Home UI Enhancement -->
    <add key="EpaymentLogoUrl" value="https://apn.2c2p.com/1Stop/UAT/MobileAPI/ePaymentLogo/"/>
    <add key="PromotionPhotoUrl" value="https://apn.2c2p.com/NearMe/UAT/Admin/PromotionPhoto/"/>
    <add key="_123EServiceVersion" value="3.34"/>
    <add key="_123TaxId" value="1230000000000"/>
    <add key="MobileCategory" value="22"/>
    <add key="TopUpCategory" value="1"/>

    <!-- Request Text for Verify Now in Issue Type-->
    <add key="KycRegisterRequestIssueType" value="NearMe KYC Verification"/>

    <!-- Verify Dialogue Show -->
    <add key="VerifyDialogueShow" value="Y"/>

    <!-- Verify Dialogue Title -->
    <add key="VerifyDialogueTitle" value="အသိပေးကြေငြာချက်"/>

    <!-- S3 Interface-->
    <add key="ApiTimeout" value="120000"/>
    <add key="GetPhotoS3Url" value="https://apn.2c2p.com/1Stop/UAT/S3Interface/api/services/app/S3File/GetPhotoFromS3"/>
    <add key="ImageRetrieveUrl" value="https://apn.2c2p.com/1Stop/UAT/S3Interface/api/services/app/S3File/GetPresignedUrl"/>
    <!-- Profile Submit Description-->
    <add key="VerifyDescription" value="သင်၏ကိုယ်ရေးအချက်အလက်များကိုအတည်ပြုပါ"/>

    <!-- Verify Text-->
    <add key="VerifyText" value="To upgrade your account security, please verify your account. "/>


    <!-- Marga Global Telecom-->
    <add key="MargaGlobalTaxId" value="0000000000124"/>
    <!-- MESC Enhancement -->
    <add key="IsMescBillingPeriod" value="Y"/>

    <add key="GiftCagList" value="0000000000120,0000000000121,0000000000126,0000000000127,0000000000129"/>

    <!-- PlayStation Plus (US)-->
    <add key="PlayStationPlusUSTaxId" value="0000000000121"/>
    <!-- Razer Gold Pin MMK-->
    <add key="RazerGoldPinMMKTaxId" value="0000000000120"/>
    <!-- Deno List Enhancement -->
    <add key="AtomDataPackTaxId" value="0000000000071"/>

    <add key="VerifyNowIssueType" value="Verify Now"/>

    <!-- Yadanarpon Teleport -->
    <add key="YadanarponTeleportTaxId" value="0000000000119"/>
    <add key="YTPMonthlyBillType" value="Monthly"/>
    <!-- PlayStation Network-->
    <add key="PlayStationNetworkTaxId" value="0000000000117"/>
    <!-- Flexible Pass -->
    <add key="FlexiblePassTaxId" value="0000000000114"/>
    <!-- XBox One -->
    <add key="XBoxOneTaxId" value="0000000000116"/>
    <!-- WinFinance -->
    <add key="WinFinanceTaxId" value="0000000000115"/>
    <!-- CookieTV -->
    <add key="CookieTVTaxId" value="0000000000113"/>
    <!-- VIU -->
    <add key="ViuTaxId" value="0000000000067"/>
    <!-- TrueNet -->
    <add key="TrueNetTaxId" value="0000000000111"/>
    <!-- QuicKyat -->
    <add key="QuicKyatTaxId" value="0000000000112"/>
    <!-- SaiSai Pay -->
    <add key="SaiSaiPayTaxId" value="0000000000106"/>
    <!-- MSP TopUp -->
    <add key="MSPTopUpTaxId" value="0000000000107"/>
    <!-- MptMoney -->
    <add key="MptMoneyTaxId" value="0000000000108"/>
    <!-- CitizenPay -->
    <add key="CitizenPayTaxId" value="0000000000110"/>
    <!-- MBF - Mahar BawGa -->
    <add key="MBFTaxId" value="0000000000103"/>
    <!-- OnDoctor -->
    <add key="OnDoctorTaxId" value="0000000000102"/>

    <add key="MinTheinKhaSmsDesc" value="အသံဖိုင် link ကို မင်းသိင်္ မှ SMS ပေးပို့ပါလိမ့်မည်"/>
    <add key="PaymentType" value="MSP"/>
    <add key="MerchantLogoUrlPath" value="https://apn.2c2p.com/1Stop/UAT/MobileAPI/MerchantLogo/"/>
    <add key="MyanPwel" value="0000000000094"/>
    <add key="MinTheinKha" value="0000000000098"/>
    <!-- YESC -->
    <add key="YescTaxId" value="0000000000101"/>
    <!-- 5BB FTH -->
    <add key="5BBTaxId" value="0000000000100"/>
    <!-- MESC -->
    <add key="MescTaxId" value="0000000000099"/>

    <!-- Anawrahta -->
    <add key="AnawrahtaTaxId" value="0000000000105"/>

    <!-- Anada Eload -->
    <add key="AnadaEloadTaxId" value="0000000000109"/>

    <add key="ShortUrlUser" value="123MM"/>
    <add key="ShortUrlToken" value="7ef01828-eb07-4493-bdbd-791232bc2560"/>
    <add key="ShortUrlApi" value="http://uatp.2c2p.com:8443/api/ShortUrl"/>
    <add key="ProfileList" value="1,2"/>
    <add key="FileWritePath" value="D:\KMT\2C2P\Alternative-Payment-Network\MobileApi\MA2AAPI\AgentIssue\"/>
    <add key="FilePath" value="https://apn.2c2p.com\NearMe\UAT\Admin\AgentIssue\"/>
    <add key="iOS" value="iOS"/>
    <add key="RestrictVersion" value="3.0.0"/>
    <add key="InvalidBillers" value="000000000009200000000000910000000000090"/>
    <!--Tis is to separate User Manual for Pos and Mobile-->
    <add key="MmBusticket" value="0000000000088"/>
    <add key="Flight" value="0000000000080"/>
    <add key="PubgUC" value="0000000000092"/>
    <add key="PubgUCPerDollar" value="60"/>
    <add key="LoginType_POS" value="POS"/>
    <add key="PosUserManualUrl" value="http://www.nearme.com.mm/manual/NearMe_POSusermanual.pdf"/>
    <add key="ManualUrl" value="http://www.nearme.com.mm/Manual/NearMe_Mobile_Manual.pdf"/>
    <add key="MyanmarNetAwaThone" value="0000000000083"/>
    <add key="MyanmarNetData" value="0000000000084"/>
    <add key="MyanmarNetPrepaid" value="0000000000085"/>
    <add key="LaLaKyiId" value="0000000000081"/>
    <add key="HiWifi" value="0000000000082"/>
    <!-- This is Sprint-18 Billers -->
    <add key="WunZinnMapTaxId" value="0000000000089"/>
    <add key="TelenorDataPackPinMapTaxId" value="0000000000091"/>
    <!--Tis is to restrict Mobile and Desktop in Pos-->
    <add key="MS" value="M"/>
    <add key="POS" value="P"/>
    <add key="PC" value="C"/>
    <!-- This is for Terms And Conditions-->
    <add key="MyanmarVersionUrl" value="https://apn.2c2p.com/1Stop/UAT/MobileApi/TermsAndConditions/Myanmar.pdf"/>
    <add key="EnglishVersionUrl" value="https://apn.2c2p.com/1Stop/UAT/MobileApi/TermsAndConditions/English.pdf"/>
    <add key="FeeProfileId" value="1015"/>
    <add key="SteamWalletSGDMapTaxId" value="0000000000072"/>
    <add key="MptDataPackage" value="0000000000074"/>
    <add key="OoredooDataPackage" value="0000000000086"/>
    <add key="MyTelDataPackage" value="0000000000090"/>
    <add key="OoredooFtth" value="0000000000087"/>
    <add key="PgMapTaxId" value="0000000000056"/>
    <add key="AeonMapTaxId" value="0000000000068"/>
    <add key="TelenorFtthMaptaxId" value="0000000000069"/>
    <add key="TelenorWtthMaptaxId" value="0000000000070"/>



    <add key="isFileLog" value="Y"/>
    <add key="AppUrl" value="www.google.com"/>
    <add key="AppVersion" value="1.0.0"/>
    <add key="MobileVersion" value="MobileVersion"/>
    <add key="BillerLogoPath" value="D:\Websites\Web\1Stop\Admin\BillerLogo\"/>
    <add key="BillerLogoUrl" value="http://192.168.0.9/A2A/Admin/BillerLogo/"/>
    <add key="MerchantListPath" value="D:\TzDevelopmentLaest\AlternativePaymentNetwork\MobileApi\MA2AAPI\Merchant\merchantlist.txt"/>
    <add key="MerchantLogoUrl" value="https://demo3.2c2p.com/1Stop/MobileAPI/Merchant/"/>
    <add key="EasyPointsMerchantListPath" value="D:\Development\1Stop_MobileAPI\MA2AAPI\Merchant\"/>
    <add key="EasyPointsMerchantLogoUrl" value="https://demo3.2c2p.com/1Stop/MobileAPI/Merchant/"/>
    <add key="ClientPublicCert" value="D:\Cert\demo2.2c2p.com(public).cer"/>
    <add key="ClientPrivateCert" value="D:\Cert\demo2.2c2p.com(2c2p).pfx"/>
    <add key="ClientPrivatePass" value="2c2p"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="subject" value="Account Registration Request"/>
    <add key="fromEmail" value="registration@1stop.com.mm"/>
    <add key="toEmail" value="support@1stop.com.mm"/>
    <!--support@1stop.com.mm-->
    <add key="greeting" value="Dear Manager,"/>
    <add key="msgbody" value="I am intrested in 1Stop Services.I would like to register with 1 stop services.Below are my personal information"/>
    <add key="1stopplus" value="2048"/>
    <add key="MercyCorps" value="2073"/>
    <add key="MPU" value="MPU"/>
    <add key="CB" value="CB"/>
    <add key="KBZ" value="KBZ"/>
    <add key="WavePay" value="WavePay"/>
    <add key="OK$" value="OK$"/>
    <!-- Sprint 19 EasyPointRedeem Topup-->
    <add key="NearMeGiftCardPan" value="NearMe Gift Card"/>
    <add key="NearMeGiftCardBillerName" value="NearMeGiftCard"/>
    <add key="onetwothree" value="29"/>
    <add key="newversion" value="1.0.6"/>
    <add key="mpuflatfee" value="0"/>
    <add key="mpupercentfee" value="0"/>
    <add key="flatfee123" value="0"/>
    <add key="percentfee123" value="0"/>
    <add key="barcodePath" value="D:\barcode\"/>
    <add key="barcodeUrl" value="http://localhost:54498/barcode/"/>
    <add key="templatePath" value="D:\BarCode\Logo\1stoplogo1.png"/>
    <add key="ChannelCodeForSMS" value="1-STOP"/>
    <add key="pan" value="1Stop+"/>
    <add key="zalaPan" value="Zarla"/>
    <add key="ZalaImg" value="Zala"/>
    <add key="UnpairMesgEngVer" value="Your unpair request had been received successfully. To proceed your unpair request, please send your information to our 1-STOP Team Viber (09-795070111) and you have to wait for 24 hours."/>
    <add key="UnpairMesgZawgyiVer" value="လူႀကီးမင္း၏ Unpair ျပဳလုပ္ရန္ေတာင္းဆိုမႈကို ေအာင္ျမင္စြာလက္ခံရရွိပါသည္။ ေတာင္းဆိုမႈကို ျပဳလုပ္ေပးရန္အတြက္ 1-STOP အဖြဲ႕၏ Viber (09-795070111)သို႔ လိုအပ္သည့္အခ်က္အလက္မ်ားကို ေပးပို႔ၿပီး ၂၄နာရီ ေစာင့္ဆိုင္းရမည္ျဖစ္ပါသည္။."/>
    <add key="UnpairMesgUnicodeVer" value="လူကြီးမင်း၏ Unpair ပြုလုပ်ရန်တောင်းဆိုမှုကို အောင်မြင်စွာလက်ခံရရှိပါသည်။ တောင်းဆိုမှုကို ပြုလုပ်ပေးရန်အတွက် 1-STOP အဖွဲ့၏ Viber (09-795070111)သို့ လိုအပ်သည့်အချက်အလက်များကို ပေးပို့ပြီး ၂၄နာရီ စောင့်ဆိုင်းရမည်ဖြစ်ပါသည်။"/>

    <add key="UnpairStatus" value="Y"/>

    <add key="agent" value="PayHere"/>
    <add key="agentHotline" value="PayHere Hotline :09-785960595,09-787200362"/>
    <add key="EasyPoints" value="000000000017"/>

    <add key="663Biller" value="1234:663CashOut;2345:663Remit"/>
    <add key="663CashOut" value="663CashOut"/>
    <add key="663CashOutImg" value="2067"/>
    <add key="663CashOutBiller" value="2067"/>
    <add key="newappver" value="0000000000058:30"/>
    <add key="WhiteListUserName" value="09692922675"/>
    <add key="WhiteListPassword" value="PFnco5X7hSb2lH9Qv1b9HFLzm10wOTY5MjkyMjY3NQ=="/>
    <!-- Mother Finance Loan Registration -->
    <add key="MFLoanRegistrationCustomerFee" value="200"/>
    <add key="PortalApiTimeOut" value="120000" />
    <add key="SendGridEmailInterfaceApiUrl" value="http://api-nearmeapp-uat.nearmemyanmar.com/NearMe/UAT/SendGridEmailInterface/api/SendGridEMail" />
    <add key="SendSmsInfobipInterfaceApiUrl" value="http://api-nearmeapp-uat.nearmemyanmar.com/NearMe/UAT/SendSMSInfobipInterface/api/SendSMSInfobip" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IService2" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2114/BIS/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService2" contract="BISWCF.IService"
        name="BasicHttpBinding_IService" />
      <endpoint address="http://10.110.204.46/NearMe/UAT/WCFService/NotificationService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4"
        contract="PushNotiWCF.IService" name="BasicHttpBinding_IService3" />
      <endpoint address="http://localhost:10182/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService3" contract="MA2AAPIWCF.IService"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
